[
    {
        "group_name": "AUTHENTICATION MANAGEMENT",
        "permissions":[
            "can_view_roles",
            "can_create_roles",
            "can_update_roles",
            "can_delete_roles",
            "can create_system_users",
            "can_view_system_roles",
            "can_manage_role_permissions",
            "can_manage_gas"
        ]
    }
]