[
    {
        "id": 0,
        "code": "9000",
        "status": false,
        "message": "Action failed. Please check if you're authenticated and have sufficient permissions."
    },
    {
        "id": 1,
        "code": "9001",
        "status": true,
        "message": "Operation successful."
    },
    {
        "id": 2,
        "code": "9002",
        "status": false,
        "message": "Invalid input provided. Please review and try again."
    },
    {
        "id": 3,
        "code": "9003",
        "status": false,
        "message": "Sorry! An error occurred while performing this action."
    },
    {
        "id": 4,
        "code": "9004",
        "status": false,
        "message": "Duplicate record, data already exists."
    },
    {
        "id": 5,
        "code": "9005",
        "status": false,
        "message": "Operation failed, please review and try again."
    },
    {
        "id": 6,
        "code": "9006",
        "status": false,
        "message": "Null argument, please provide required argument(s)."
    },
    {
        "id": 7,
        "code": "9007",
        "status": true,
        "message": "User created successfully! Email notification is sent for verification."
    },
    {
        "id": 8,
        "code": "9008",
        "status": false,
        "message": "Unauthorized, user profile not activated!"
    },
    {
        "id": 9,
        "code": "9009",
        "status": false,
        "message": "Record not found!"
    },
    {
        "id": 10,
        "code": "9010",
        "status": false,
        "message": "Failed to delete, data contains more than one item."
    },
    {
        "id": 11,
        "code": "9011",
        "status": true,
        "message": "Item category created successfully."
    },
    {
        "id": 12,
        "code": "9012",
        "status": true,
        "message": "Item category updated successfully."
    },
    {
        "id": 13,
        "code": "9013",
        "status": true,
        "message": "Item category deleted successfully."
    },
    {
        "id": 14,
        "code": "9014",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 15,
        "code": "9015",
        "status": false,
        "message": "Please fill in all required fields."
    },
    {
        "id": 16,
        "code": "9016",
        "status": false,
        "message": "This category already exists."
    },
    {
        "id": 17,
        "code": "9017",
        "status": false,
        "message": "Invalid input. Please enter a valid category name."
    },
    {
        "id": 18,
        "code": "9018",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 19,
        "code": "9019",
        "status": true,
        "message": "Unit of measure created successfully."
    },
    {
        "id": 20,
        "code": "9020",
        "status": true,
        "message": "Unit of measure updated successfully."
    },
    {
        "id": 21,
        "code": "9021",
        "status": true,
        "message": "Unit of measure deleted successfully."
    },
    {
        "id": 22,
        "code": "9022",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 23,
        "code": "9023",
        "status": false,
        "message": "Unit name is required."
    },
    {
        "id": 24,
        "code": "9024",
        "status": false,
        "message": "This unit of measure already exists."
    },
    {
        "id": 25,
        "code": "9025",
        "status": false,
        "message": "Invalid input. Only valid units are allowed."
    },
    {
        "id": 26,
        "code": "9026",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 27,
        "code": "9027",
        "status": true,
        "message": "Item type created successfully."
    },
    {
        "id": 28,
        "code": "9028",
        "status": true,
        "message": "Item type updated successfully."
    },
    {
        "id": 29,
        "code": "9029",
        "status": true,
        "message": "Item type deleted successfully."
    },
    {
        "id": 30,
        "code": "9030",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 31,
        "code": "9031",
        "status": false,
        "message": "Please fill in all required fields."
    },
    {
        "id": 32,
        "code": "9032",
        "status": false,
        "message": "This item type already exists."
    },
    {
        "id": 33,
        "code": "9033",
        "status": false,
        "message": "Invalid input. Please enter a valid item type."
    },
    {
        "id": 34,
        "code": "9034",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 35,
        "code": "9035",
        "status": true,
        "message": "Dosage created successfully."
    },
    {
        "id": 36,
        "code": "9036",
        "status": true,
        "message": "Dosage updated successfully."
    },
    {
        "id": 37,
        "code": "9037",
        "status": true,
        "message": "Dosage deleted successfully."
    },
    {
        "id": 38,
        "code": "9038",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 39,
        "code": "9039",
        "status": false,
        "message": "Please provide a valid dosage format."
    },
    {
        "id": 40,
        "code": "9040",
        "status": false,
        "message": "This dosage already exists."
    },
    {
        "id": 41,
        "code": "9041",
        "status": false,
        "message": "Invalid input. Enter dosage in correct format."
    },
    {
        "id": 42,
        "code": "9042",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 43,
        "code": "9043",
        "status": true,
        "message": "Item strength created successfully."
    },
    {
        "id": 44,
        "code": "9044",
        "status": true,
        "message": "Item strength updated successfully."
    },
    {
        "id": 45,
        "code": "9045",
        "status": true,
        "message": "Item strength deleted successfully."
    },
    {
        "id": 46,
        "code": "9046",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 47,
        "code": "9047",
        "status": false,
        "message": "Please provide a valid strength value."
    },
    {
        "id": 48,
        "code": "9048",
        "status": false,
        "message": "This item strength already exists."
    },
    {
        "id": 49,
        "code": "9049",
        "status": false,
        "message": "Invalid input. Enter numeric strength only."
    },
    {
        "id": 50,
        "code": "9050",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 51,
        "code": "9051",
        "status": true,
        "message": "Item created successfully."
    },
    {
        "id": 52,
        "code": "9052",
        "status": true,
        "message": "Item updated successfully."
    },
    {
        "id": 53,
        "code": "9053",
        "status": true,
        "message": "Item deleted successfully."
    },
    {
        "id": 54,
        "code": "9054",
        "status": true,
        "message": "Search completed. X results found."
    },
    {
        "id": 55,
        "code": "9055",
        "status": false,
        "message": "Please fill in all required fields."
    },
    {
        "id": 56,
        "code": "9056",
        "status": false,
        "message": "Invalid data format."
    },
    {
        "id": 57,
        "code": "9057",
        "status": true,
        "message": "Duplicate item found."
    },
    {
        "id": 58,
        "code": "9058",
        "status": true,
        "message": "Item imported successfully."
    },
    {
        "id": 59,
        "code": "9059",
        "status": false,
        "message": "Import failed. Please correct errors in the template."
    },
    {
        "id": 60,
        "code": "9060",
        "status": true,
        "message": "Template exported successfully."
    },
    {
        "id": 61,
        "code": "9061",
        "status": true,
        "message": "Items exported successfully."
    },
    {
        "id": 62,
        "code": "9062",
        "status": false,
        "message": "Export failed. Please try again."
    },
    {
        "id": 63,
        "code": "9063",
        "status": false,
        "message": "Operation cancelled by user."
    },
    {
        "id": 64,
        "code": "9064",
        "status": false,
        "message": "Message Text"
    },
    {
        "id": 65,
        "code": "9065",
        "status": true,
        "message": "Your subscription request has been submitted successfully"
    },
    {
        "id": 66,
        "code": "9066",
        "status": false,
        "message": "Your subscription request has been cancelled."
    },
    {
        "id": 67,
        "code": "9067",
        "status": true,
        "message": "Your subscription request has been resubmitted to the SPPS for review."
    },
    {
        "id": 68,
        "code": "9068",
        "status": false,
        "message": "You cannot edit your subscription while it is under review by the SPPS."
    },
    {
        "id": 69,
        "code": "9069",
        "status": true,
        "message": "Your request to cancel the subscription has been sent to the SPPS coordinating team for review."
    },
    {
        "id": 70,
        "code": "9070",
        "status": false,
        "message": "Your cancellation request has been withdrawn. Your subscription remains active."
    },
    {
        "id": 71,
        "code": "9071",
        "status": true,
        "message": "Your subscription has been approved. You now have access to the Information Sharing Module."
    },
    {
        "id": 72,
        "code": "9072",
        "status": false,
        "message": "Your subscription has been rejected."
    },
    {
        "id": 73,
        "code": "9073",
        "status": false,
        "message": "Your subscription has been cancelled by the SPPS."
    },
    {
        "id": 74,
        "code": "9074",
        "status": true,
        "message": "Your request to cancel the subscription has been approved."
    },
    {
        "id": 75,
        "code": "9075",
        "status": false,
        "message": "Your cancellation request has been rejected."
    },
    {
        "id": 76,
        "code": "9076",
        "status": false,
        "message": "Access to the Information Sharing Module has been revoked."
    },
    {
        "id": 77,
        "code": "9077",
        "status": false,
        "message": "New subscription request received from [Member State Name]. Please review."
    },
    {
        "id": 78,
        "code": "9078",
        "status": false,
        "message": "Cancellation request received from [Member State Name]. Please review."
    },
    {
        "id": 79,
        "code": "9079",
        "status": true,
        "message": "Your information draft has been created. Please proceed with internal approval."
    },
    {
        "id": 80,
        "code": "9080",
        "status": false,
        "message": "Information is pending internal approval."
    },
    {
        "id": 81,
        "code": "9081",
        "status": true,
        "message": "Your information has been submitted to the SPPS coordinating team for approval."
    },
    {
        "id": 82,
        "code": "9082",
        "status": false,
        "message": "You cannot edit the information while it is under SPPS review."
    },
    {
        "id": 83,
        "code": "9083",
        "status": false,
        "message": "The information has been returned by SPPS. You may now edit and resubmit it."
    },
    {
        "id": 84,
        "code": "9084",
        "status": true,
        "message": "Your shared information has been approved and published."
    },
    {
        "id": 85,
        "code": "9085",
        "status": false,
        "message": "Your shared information has been rejected. Reason"
    },
    {
        "id": 86,
        "code": "9086",
        "status": false,
        "message": "This information has been unpublished by SPPS."
    },
    {
        "id": 87,
        "code": "9087",
        "status": true,
        "message": "Information republished successful"
    },
    {
        "id": 88,
        "code": "9088",
        "status": false,
        "message": "The information has been permanently deleted by the SPPS."
    },
    {
        "id": 89,
        "code": "9089",
        "status": false,
        "message": "Message Text"
    },
    {
        "id": 90,
        "code": "9090",
        "status": true,
        "message": "Your subscription request has been submitted successfully."
    },
    {
        "id": 91,
        "code": "9091",
        "status": false,
        "message": "Your subscription request has been cancelled."
    },
    {
        "id": 92,
        "code": "9092",
        "status": true,
        "message": "Your subscription request has been resubmitted to the SPPS for review."
    },
    {
        "id": 93,
        "code": "9093",
        "status": false,
        "message": "You cannot edit your subscription while it is under review by the SPPS."
    },
    {
        "id": 94,
        "code": "9094",
        "status": true,
        "message": "Your request to cancel the subscription has been sent to the SPPS coordinating team for review."
    },
    {
        "id": 95,
        "code": "9095",
        "status": false,
        "message": "Your cancellation request has been withdrawn. Your subscription remains active."
    },
    {
        "id": 96,
        "code": "9096",
        "status": true,
        "message": "Your subscription has been approved. You now have access to the Information Sharing Module."
    },
    {
        "id": 97,
        "code": "9097",
        "status": false,
        "message": "Your subscription has been rejected."
    },
    {
        "id": 98,
        "code": "9098",
        "status": false,
        "message": "Your subscription has been cancelled by the SPPS."
    },
    {
        "id": 99,
        "code": "9099",
        "status": true,
        "message": "Your request to cancel the subscription has been approved."
    },
    {
        "id": 100,
        "code": "9100",
        "status": false,
        "message": "Your cancellation request has been rejected."
    },
    {
        "id": 101,
        "code": "9101",
        "status": false,
        "message": "Access to the Information Sharing Module has been revoked."
    },
    {
        "id": 102,
        "code": "9102",
        "status": false,
        "message": "New subscription request received from [Member State Name]. Please review."
    },
    {
        "id": 103,
        "code": "9103",
        "status": false,
        "message": "Cancellation request received from [Member State Name]. Please review."
    },
    {
        "id": 104,
        "code": "9104",
        "status": true,
        "message": "Your information draft has been created. Please proceed with internal approval."
    },
    {
        "id": 105,
        "code": "9105",
        "status": false,
        "message": "Information is pending internal approval."
    },
    {
        "id": 106,
        "code": "9106",
        "status": true,
        "message": "Your information has been submitted to the SPPS coordinating team for approval."
    },
    {
        "id": 107,
        "code": "9107",
        "status": false,
        "message": "You cannot edit the information while it is under SPPS review."
    },
    {
        "id": 108,
        "code": "9108",
        "status": false,
        "message": "The information has been returned by SPPS. You may now edit and resubmit it."
    },
    {
        "id": 109,
        "code": "9109",
        "status": true,
        "message": "Your shared information has been approved and published."
    },
    {
        "id": 110,
        "code": "9110",
        "status": false,
        "message": "Your shared information has been rejected. Reason: [Reason provided]."
    },
    {
        "id": 111,
        "code": "9111",
        "status": false,
        "message": "This information has been unpublished by SPPS."
    },
    {
        "id": 112,
        "code": "9112",
        "status": true,
        "message": "Information republished successfully."
    },
    {
        "id": 113,
        "code": "9113",
        "status": false,
        "message": "The information has been permanently deleted by the SPPS."
    },
    {
        "id": 114,
        "code": "9114",
        "status": false,
        "message": "Message Text"
    },
    {
        "id": 115,
        "code": "9115",
        "status": true,
        "message": "Profile created successfully."
    },
    {
        "id": 116,
        "code": "9116",
        "status": false,
        "message": "Please complete all required fields."
    },
    {
        "id": 117,
        "code": "9117",
        "status": false,
        "message": "Profile already exists."
    },
    {
        "id": 118,
        "code": "9118",
        "status": true,
        "message": "Profile updated successfully."
    },
    {
        "id": 119,
        "code": "9119",
        "status": true,
        "message": "Profile deleted successfully."
    },
    {
        "id": 120,
        "code": "9120",
        "status": true,
        "message": "Excel template exported successfully."
    },
    {
        "id": 121,
        "code": "9121",
        "status": true,
        "message": "Excel data uploaded and framework details imported successfully."
    },
    {
        "id": 122,
        "code": "9122",
        "status": false,
        "message": "Invalid file format. Please upload the correct Excel template."
    },
    {
        "id": 123,
        "code": "9123",
        "status": false,
        "message": "Some required data is missing in the Excel file."
    },
    {
        "id": 124,
        "code": "9124",
        "status": true,
        "message": "Duplicate entries found in the Excel file."
    },
    {
        "id": 125,
        "code": "9125",
        "status": true,
        "message": "Framework agreement created successfully."
    },
    {
        "id": 126,
        "code": "9126",
        "status": false,
        "message": "Please complete all required framework details."
    },
    {
        "id": 127,
        "code": "9127",
        "status": true,
        "message": "Framework agreement updated successfully."
    },
    {
        "id": 128,
        "code": "9128",
        "status": true,
        "message": "Framework agreement deleted successfully."
    },
    {
        "id": 129,
        "code": "9129",
        "status": false,
        "message": "Operation cancelled. Framework remains unchanged."
    },
    {
        "id": 130,
        "code": "9130",
        "status": true,
        "message": "Framework agreement sent successfully for confirmation."
    },
    {
        "id": 131,
        "code": "9131",
        "status": true,
        "message": "Framework agreement approved successfully."
    },
    {
        "id": 132,
        "code": "9132",
        "status": false,
        "message": "Framework agreement rejected with comments."
    },
    {
        "id": 133,
        "code": "9133",
        "status": false,
        "message": "Framework agreement status updated to pending response."
    },
    {
        "id": 134,
        "code": "9134",
        "status": false,
        "message": "Message Text"
    },
    {
        "id": 135,
        "code": "9135",
        "status": true,
        "message": "subscription successfully submitted."
    },
    {
        "id": 136,
        "code": "9136",
        "status": true,
        "message": "subscription request has been sent to SPPS for review."
    },
    {
        "id": 137,
        "code": "9137",
        "status": false,
        "message": "SPPS has accepted your subscription request."
    },
    {
        "id": 138,
        "code": "9138",
        "status": false,
        "message": "SPPS has rejected your subscription request."
    },
    {
        "id": 139,
        "code": "9139",
        "status": false,
        "message": "User now has access to the Information Sharing Module and associated permissions."
    },
    {
        "id": 140,
        "code": "9140",
        "status": false,
        "message": "your subscription has been canceled by SPPS."
    },
    {
        "id": 141,
        "code": "9141",
        "status": false,
        "message": "User has requested subscription cancellation."
    },
    {
        "id": 142,
        "code": "9142",
        "status": true,
        "message": "subscription cancellation request has been sent to SPPS for review."
    },
    {
        "id": 143,
        "code": "9143",
        "status": false,
        "message": "SPPS has accepted the subscription cancellation request."
    },
    {
        "id": 144,
        "code": "9144",
        "status": false,
        "message": "SPPS has rejected the subscription cancellation request."
    },
    {
        "id": 145,
        "code": "9145",
        "status": false,
        "message": "your subscription cancellation request has been withdrawn."
    },
    {
        "id": 146,
        "code": "9146",
        "status": false,
        "message": "Access to Pooled Procurement Module and associated permissions has been removed."
    },
    {
        "id": 147,
        "code": "9147",
        "status": false,
        "message": "You are not allowed to edit subscription details while under review."
    },
    {
        "id": 148,
        "code": "9148",
        "status": false,
        "message": "Message Text"
    },
    {
        "id": 149,
        "code": "9149",
        "status": true,
        "message": "Call for planning created successfully."
    },
    {
        "id": 150,
        "code": "9150",
        "status": true,
        "message": "Call for planning edited successfully."
    },
    {
        "id": 151,
        "code": "9151",
        "status": true,
        "message": "Fail to Delete Planning Circle. There is existing APPROVED state plans"
    },
    {
        "id": 152,
        "code": "9152",
        "status": true,
        "message": "Call for planning request sent for approval."
    },
    {
        "id": 153,
        "code": "9153",
        "status": true,
        "message": "Call for planning request approved."
    },
    {
        "id": 154,
        "code": "9154",
        "status": false,
        "message": "Call for planning request rejected."
    },
    {
        "id": 155,
        "code": "9155",
        "status": true,
        "message": "Notification sent to subscribed member states on planning period."
    },
    {
        "id": 156,
        "code": "9156",
        "status": true,
        "message": "Supply plan created successfully."
    },
    {
        "id": 157,
        "code": "9157",
        "status": true,
        "message": "Supply plan edited successfully."
    },
    {
        "id": 158,
        "code": "9158",
        "status": true,
        "message": "Fail to Delete Supply Plan is already Approved"
    },
    {
        "id": 159,
        "code": "9159",
        "status": true,
        "message": "Supply plan submitted for internal approval."
    },
    {
        "id": 160,
        "code": "9160",
        "status": true,
        "message": "Supply plan approved for submission to SPPS."
    },
    {
        "id": 161,
        "code": "9161",
        "status": false,
        "message": "Supply plan rejected (internal approval)."
    },
    {
        "id": 162,
        "code": "9162",
        "status": true,
        "message": "Notification sent to SPPS on new supply plan received."
    },
    {
        "id": 163,
        "code": "9163",
        "status": false,
        "message": "SPPS acknowledges receipt of supply plan."
    },
    {
        "id": 164,
        "code": "9164",
        "status": true,
        "message": "Consolidated plan created successfully."
    },
    {
        "id": 165,
        "code": "9165",
        "status": true,
        "message": "Consolidated plan edited successfully."
    },
    {
        "id": 166,
        "code": "9166",
        "status": true,
        "message": "Consolidated plan deleted successfully."
    },
    {
        "id": 167,
        "code": "9167",
        "status": true,
        "message": "Consolidated plan sent to member states."
    },
    {
        "id": 168,
        "code": "9168",
        "status": true,
        "message": "Notification sent to member states on consolidated plan reception."
    },
    {
        "id": 169,
        "code": "9169",
        "status": true,
        "message": "Notification sent to member states on new delivery schedules."
    },
    {
        "id": 170,
        "code": "9170",
        "status": false,
        "message": "Member states prompted to enter verified-to-pay information."
    },
    {
        "id": 171,
        "code": "9171",
        "status": true,
        "message": "Verified-to-pay information sent to SPPS."
    },
    {
        "id": 172,
        "code": "9172",
        "status": true,
        "message": "Consolidated plan sent to manufacturer."
    },
    {
        "id": 173,
        "code": "9173",
        "status": true,
        "message": "Notification sent to manufacturer on consolidated plan reception."
    },
    {
        "id": 174,
        "code": "9174",
        "status": false,
        "message": "Manufacturer confirms consolidated plan."
    },
    {
        "id": 175,
        "code": "9175",
        "status": true,
        "message": "Order split created successfully."
    },
    {
        "id": 176,
        "code": "9176",
        "status": true,
        "message": "Order split edited successfully."
    },
    {
        "id": 177,
        "code": "9177",
        "status": true,
        "message": "Order split deleted successfully."
    },
    {
        "id": 178,
        "code": "9178",
        "status": true,
        "message": "Notification sent to SPPS and member states on split deliveries."
    },
    {
        "id": 179,
        "code": "9179",
        "status": false,
        "message": "Order status changed."
    },
    {
        "id": 180,
        "code": "9180",
        "status": false,
        "message": "Order declared complete by manufacturer (awaiting member state approval)."
    },
    {
        "id": 181,
        "code": "9181",
        "status": false,
        "message": "Order confirmed complete by member state."
    },
    {
        "id": 182,
        "code": "9182",
        "status": false,
        "message": "Order declared not complete by member state."
    },
    {
        "id": 183,
        "code": "9183",
        "status": true,
        "message": "GRN created successfully."
    },
    {
        "id": 184,
        "code": "9184",
        "status": true,
        "message": "GRN edited successfully."
    },
    {
        "id": 185,
        "code": "9185",
        "status": true,
        "message": "GRN deleted successfully."
    },
    {
        "id": 186,
        "code": "9186",
        "status": true,
        "message": "GRN submitted for internal approval."
    },
    {
        "id": 187,
        "code": "9187",
        "status": false,
        "message": "SPPS confirmed GRN and order closed."
    },
    {
        "id": 188,
        "code": "9188",
        "status": true,
        "message": "Notification sent to member states and manufacturer on order closure."
    },
    {
        "id": 189,
        "code": "9189",
        "status": false,
        "message": "“Access denied. You do not have permission to view this report.”"
    },
    {
        "id": 190,
        "code": "9190",
        "status": false,
        "message": "“Please fill in all required parameters before generating the report.”"
    },
    {
        "id": 191,
        "code": "9191",
        "status": false,
        "message": "“No data available for the selected parameters.”"
    },
    {
        "id": 192,
        "code": "9192",
        "status": true,
        "message": "“Report generated successfully.”"
    },
    {
        "id": 193,
        "code": "9193",
        "status": false,
        "message": "“An error occurred while generating the report. Please try again later.”"
    },
    {
        "id": 194,
        "code": "9194",
        "status": true,
        "message": "“Report exported successfully.”"
    },
    {
        "id": 195,
        "code": "9195",
        "status": false,
        "message": "“Export failed. Please try again.”"
    },
    {
        "id": 196,
        "code": "9196",
        "status": true,
        "message": "Language created successfully.”"
    },
    {
        "id": 197,
        "code": "9197",
        "status": true,
        "message": "Language updated successfully."
    },
    {
        "id": 198,
        "code": "9198",
        "status": true,
        "message": "Language deleted successfully."
    },
    {
        "id": 199,
        "code": "9199",
        "status": true,
        "message": "Translation saved successfully."
    },
    {
        "id": 200,
        "code": "9200",
        "status": true,
        "message": "Translation deleted successfully."
    },
    {
        "id": 201,
        "code": "9201",
        "status": true,
        "message": "Language preference saved."
    },
    {
        "id": 202,
        "code": "9202",
        "status": false,
        "message": "Language preference updated."
    },
    {
        "id": 203,
        "code": "9203",
        "status": true,
        "message": "Country created successfully."
    },
    {
        "id": 204,
        "code": "9204",
        "status": true,
        "message": "Country updated successfully."
    },
    {
        "id": 205,
        "code": "9205",
        "status": true,
        "message": "Country deleted successfully."
    },
    {
        "id": 206,
        "code": "9206",
        "status": true,
        "message": "Country deactivated successfully."
    },
    {
        "id": 207,
        "code": "9207",
        "status": true,
        "message": "Incoterm saved successfully."
    },
    {
        "id": 208,
        "code": "9208",
        "status": true,
        "message": "Incoterm deleted successfully."
    },
    {
        "id": 209,
        "code": "9209",
        "status": true,
        "message": "Currency saved successfully."
    },
    {
        "id": 210,
        "code": "9210",
        "status": true,
        "message": "Currency deleted successfully."
    },
    {
        "id": 211,
        "code": "9211",
        "status": true,
        "message": "Mode of payment saved successfully."
    },
    {
        "id": 212,
        "code": "9212",
        "status": true,
        "message": "Mode of payment deleted successfully."
    },
    {
        "id": 213,
        "code": "9213",
        "status": true,
        "message": "Data exported successfully."
    },
    {
        "id": 214,
        "code": "9214",
        "status": true,
        "message": "Translations imported successfully."
    },
    {
        "id": 215,
        "code": "9215",
        "status": true,
        "message": "Users without state are not allowed to access this page."
    },
    {
        "id": 216,
        "code": "9216",
        "status": true,
        "message": "Selected page has no data."
    },
    {
        "id": 217,
        "code": "9217",
        "status": false,
        "message": "Fail to delete product whose plan has already approved"
    },
    {
        "id": 218,
        "code": "9218",
        "status": true,
        "message": "Supply plan approved successfully."
    }
]