/// GraphQL mutations for User operations
class UserMutations {
  /// Create a new user
  static const String createUser = r'''
    mutation CreateUser($input: CreateUserInput!) {
      createUser(input: $input) {
        id
        name
        email
        avatar
        createdAt
      }
    }
  ''';

  /// Update an existing user
  static const String updateUser = r'''
    mutation UpdateUser($id: ID!, $input: UpdateUserInput!) {
      updateUser(id: $id, input: $input) {
        id
        name
        email
        avatar
        bio
        updatedAt
      }
    }
  ''';

  /// Delete a user
  static const String deleteUser = r'''
    mutation DeleteUser($id: ID!) {
      deleteUser(id: $id) {
        success
        message
      }
    }
  ''';
}