reginal_id,reginal_name,reginal_uniqueID,reginal_code
61,     Arusha  Region     ,1,     AR00     
62,     Dar es Salaam Region     ,2,     DA00     
63,     Dodoma Region     ,3,     DO00     
64,     Iringa Region     ,4,     IR00     
65,     Kigoma Region     ,5,     KG00     
66,     Kilimanjaro Region     ,6,     KJ00     
67,     Kagera Region     ,7,     KR00     
68,     Katavi Region     ,8,     KT00     
69,     Lindi Region     ,9,     LD00     
70,     Mbeya Region     ,10,     MB00     
71,     Manyara Region     ,11,     MN00     
72,     Morogoro Region     ,12,     MG00     
73,     Mara Region     ,13,     MR00     
74,     Mtwara Region     ,14,     MT00     
75,     Mwanza Region     ,15,     MZ00     
76,     Pwani Region     ,17,     PW00     
77,     Rukwa region     ,18,     RK00     
78,     Ruvuma Region     ,19,     RV00     
79,     Singida Region     ,20,     SG00     
80,     Shinyanga Region     ,21,     SH00     
81,     Songwe Region     ,22,     SO00     
82,     Tabora region     ,23,     TB00     
83,     Tanga Region     ,24,     TN00     
84,     Njombe Region     ,28,     NJ00     
85,     Simiyu Region     ,29,     SI00     
86,     Geita Region     ,30,     GT00     
87,     Zanzibar     ,16,     PN00     
88,     Zanzibar Kaskazini     ,25,     ZN00     
89,     Zanzibar South     ,26,     ZS00     
90,     Zanzibar Town     ,27,     ZT00     
