import 'package:flutter/material.dart';
import 'package:flutter_easy_validator/flutter_easy_validator.dart';
import 'package:go_router/go_router.dart';
import 'package:kiongozi/core/mixins/app_localization_mixin.dart';
import 'package:kiongozi/core/theme/modes/app_colors.dart';

import '../../../../core/constants/dimensions.dart';
import '../../../../core/enums/text_type.dart';
import '../../../../gen/assets.gen.dart';
import '../../../../shared/widgets/custom_button.dart';
import '../../../../shared/widgets/custom_text.dart';
import '../../../../shared/widgets/custom_text_form_field.dart';
import '../../../../shared/widgets/glass_container.dart';

class ChangePassword extends StatefulWidget {
  const ChangePassword({super.key});

  @override
  State<ChangePassword> createState() => _ChangePasswordState();
}

class _ChangePasswordState extends State<ChangePassword> with LocalizationMixin {
  final oldPasswordController = TextEditingController();
  final newPasswordController = TextEditingController();
  final confirmPasswordController = TextEditingController();

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Stack(
        children: [
          Positioned.fill(
            child: GlassContainer(
              height: Dimensions.screenHeight,
              child: Padding(
                padding: EdgeInsets.symmetric(horizontal: Dimensions.width16),
                child: SingleChildScrollView(
                  // Makes the content scrollable when keyboard appears
                  child: ConstrainedBox(
                    constraints: BoxConstraints(
                      minHeight: MediaQuery.of(context).size.height,
                    ),
                    child: IntrinsicHeight(
                      child: Column(
                        spacing: Dimensions.height12,
                        mainAxisAlignment: MainAxisAlignment.center,
                        children: [
                          Assets.images.bibinabwana.image(scale: 20),
                          CustomText(
                            text: localization.changeYourPassword,
                            textType: TextType.titleText,
                          ),
                          CustomText(
                            text:
                            localization.fillBelowInfo,
                          ),
                          CustomInputField(
                            hintText: localization.oldPassword,
                            validator: EasyValidator.required().validate,
                            controller: oldPasswordController,
                          ),
                          CustomInputField(
                            hintText: localization.newPassword,
                            validator: EasyValidator.compose([
                              EasyValidator.minLength(8),
                              EasyValidator.maxLength(20),
                              EasyValidator.regExp(
                                RegExp(
                                  r'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>]).{8,20}$',
                                ),
                                "Password must include uppercase, lowercase, number, and special character",
                              ),
                            ]).validate,
                            controller: newPasswordController,
                          ),
                          CustomInputField(
                            hintText: localization.confirmPassword,
                            validator: EasyValidator.required().validate,
                            controller: confirmPasswordController,
                          ),
                          SizedBox(
                            width: double.infinity,
                            height: Dimensions.height48,
                            child: CustomButton(
                              onPressed: () {},
                              child: CustomText(
                                color: AppColors.white,
                                text: localization.changePassword,
                              ),
                            ),
                          ),
                          SizedBox(),
                          GestureDetector(
                              onTap: ()=> context.pop(),
                              child: CustomText(text: localization.goBack))
                        ],
                      ),
                    ),
                  ),
                ),
              ),
            ),
          ),
        ],
      ),
    );
  }
}
