import 'dart:ui';

import 'package:flutter/material.dart';

const Color greenMain = Color(0XFF077D75);
const Color yellowMain = Color(0XFFE2CA6A);

const Color tealGrey =  Color(0xFFF5E6D3);

const Color black = Colors.black;
