package {{ package_name }}.services;
import {{ package_name }}.models.User;
import java.util.List;


/**
 * Example service placeholder. This interface should be implemented by the service-implementation layer.
 It only serves as a template for defining business-logic methods.
 */

public interface UserService {
    // Define business-logic methods here to be implemented by the service-implementation layer.

    List<User> findAllUsers();
}
