package {{ package_name }}.services

import {{ package_name }}.models.User

/**
 * Example service placeholder. This interface should be implemented by the service-implementation layer.
 * It only serves as a template for defining business-logic methods.
 */
interface UserService {
    fun findAllUsers(): List<User>
}
