import 'package:flutter/material.dart';

import 'app_colors.dart';

final ThemeData lightTheme = ThemeData(
  brightness: Brightness.light,
  primaryColor: AppColors.greenMain,
  scaffoldBackgroundColor: AppColors.white,
  cardColor: AppColors.cardBackgroundOnLight,
  highlightColor: Colors.white,
  secondaryHeaderColor: Color(0xFFF5E6D3),
  focusColor: Color.fromARGB(255, 255, 205, 141),
  colorScheme: ColorScheme.light(
    primary: AppColors.greenMain,
    secondary: AppColors.brightAccentGreen,
    surface: AppColors.white,
    tertiary: AppColors.darkGray,
    onPrimary: AppColors.white,
    
    onSecondary: AppColors.white,
    onSurface: AppColors.darkGray,
  ),
  textTheme: TextTheme(
    bodyLarge: TextStyle(color: AppColors.darkGray),
    bodyMedium: TextStyle(color: AppColors.darkGray),
  ),
);
