import 'package:flutter/material.dart';
import 'package:provider/provider.dart';
import 'package:sizer/sizer.dart';
import 'package:toastification/toastification.dart';

import 'core/constants/dimensions.dart';
import 'core/routes/app_routers.dart';
import 'core/theme/controller/theme_controller.dart';
import 'core/theme/modes/dark_theme.dart';
import 'core/theme/modes/light_theme.dart';

class AppWrapper extends StatelessWidget {
  const AppWrapper({super.key});

  @override
  Widget build(BuildContext context) {
    Dimensions.init(context);

    final themeController = context.watch<ThemeController>();
    return Sizer(
      builder: (context, oritentation, screenType) {
        return ToastificationWrapper(
          config: ToastificationConfig(
            animationDuration: Duration(seconds: 1),
            alignment: Alignment.bottomCenter,
            maxToastLimit: 1,
          ),
          child: MaterialApp.router(
            routerConfig: appRouter,
            theme: lightTheme,
            darkTheme: darkTheme,
            themeMode: themeController.appThemeMode,
            debugShowCheckedModeBanner: false,
          ),
        );
      },
    );
  }
}