import 'package:flutter/material.dart';
import 'package:go_router/go_router.dart';
import 'package:hugeicons/hugeicons.dart';
import 'package:kiongozi/core/constants/dimensions.dart';
import 'package:kiongozi/core/theme/modes/app_colors.dart';

class CustomToPreviousPageBtn extends StatelessWidget {
  const CustomToPreviousPageBtn({super.key});

  @override
  Widget build(BuildContext context) {
    return CircleAvatar(
      radius: Dimensions.radius16,
      backgroundColor: AppColors.greenMain,
      child: IconButton(
        onPressed: context.pop,
        icon: HugeIcon(icon: HugeIcons.strokeRoundedArrowLeft01 , strokeWidth: Dimensions.width4,),
      ),
    );
  }
}
