import 'package:flutter/material.dart';
import 'package:hugeicons/hugeicons.dart';
import 'package:sizer/sizer.dart';

import '../../core/mixins/app_theme_mixin.dart';

class NotificationCircle extends StatefulWidget {
  const NotificationCircle({super.key});

  @override
  State<NotificationCircle> createState() => _NotificationCircleState();
}

class _NotificationCircleState extends State<NotificationCircle>
    with AppThemeMixin {
  @override
  Widget build(BuildContext context) {
    return Stack(
      children: [
        Container(
          padding: EdgeInsets.all(2.5.w),
          decoration: BoxDecoration(
            color: colorScheme.primary.withValues(alpha: 0.1),
            shape: BoxShape.circle,
          ),
          child: HugeIcon(
            icon: HugeIcons.strokeRoundedNotification02,
            color: colorScheme.primary,
            size: 2.5.h,
          ),
        ),
        Positioned(
          right: 0,
          top: 0,
          child: Container(
            width: 2.5.w,
            height: 2.5.w,
            decoration: BoxDecoration(
              color: Colors.red,
              shape: BoxShape.circle,
              border: Border.all(
                color: colorScheme.surface,
                width: 1.5,
              ),
            ),
          ),
        ),
      ],
    );
  }
}
