import inspect
from graphene_federation import build_schema
from {{ package_name }}.log_exceptions import log_exceptions


def apply_log_exceptions_to_class(cls):
    """
    Wraps all resolve_* and mutate methods of a class with the log_exceptions decorator.
    """
    for attr_name in dir(cls):
        if attr_name.startswith("resolve_") or attr_name == "mutate":
            method = getattr(cls, attr_name, None)
            if callable(method) and not getattr(method, "_log_exceptions_wrapped", False):
                # Check if 'info' is in the function signature
                sig = inspect.signature(method)
                if 'info' in sig.parameters:
                    wrapped = log_exceptions()(method)
                    wrapped._log_exceptions_wrapped = True  # Prevent double wrapping
                    setattr(cls, attr_name, wrapped)
    return cls


# Define module names and class names to import
module_classes = [
    ('{{ package_name }}_accounts', "Query", "Mutation"),
    ('{{ package_name }}_files', "Query", "Mutation"),
    ('{{ package_name }}_settings', "Query", "Mutation"),
    ('{{ package_name }}_subsidy_management', "Query", "Mutation"),
    ('{{ package_name }}_vendor_management', "Query", "Mutation"),
]


query_classes = []
mutation_classes = []

for module_name, query_class_name, mutation_class_name in module_classes:
    query_module = __import__(
        f"{module_name}.schema", fromlist=[query_class_name])
    mutation_module = __import__(
        f"{module_name}.views", fromlist=[mutation_class_name])

    query_class = getattr(query_module, query_class_name)
    mutation_class = getattr(mutation_module, mutation_class_name)

    query_classes.append(query_class)
    mutation_classes.append(mutation_class)

# Dynamically create the root Query and Mutation classes
Query = apply_log_exceptions_to_class(type("Query", tuple(query_classes), {}))
Mutation = apply_log_exceptions_to_class(
    type("Mutation", tuple(mutation_classes), {}))

# Build the federated schema
schema = build_schema(query=Query, mutation=Mutation)
