import json

from django.core.management.base import BaseCommand



class Command(BaseCommand):
    help = 'Populates permissions from JSON file.'

    def handle(self, *args, **options):
        from {{package_name}}.data_seeding_utils import SeedingSystemDefaultData
        try:
            SeedingSystemDefaultData()
            self.stdout.write(self.style.SUCCESS('Permissions populated successfully'))
        except json.JSONDecodeError:
            self.stdout.write(self.style.ERROR('Invalid JSON format in permissions file'))
        except Exception as e:
            self.stdout.write(self.style.ERROR(f'Error populating permissions: {str(e)}'))
