class UserPaths {
  static const String users = '/users';
  static const String userDetail = '/users/:id';
  static const String userCreate = '/users/create';
  static const String userEdit = '/users/:id/edit';
}
