from django.contrib.auth.models import User
from dotenv import dotenv_values

from {{package_name}}_accounts.models import Profile
from {{package_name}}_auth.models import UserPermissions, UserPermissionsGroup, UserRoles, UserRolesPermissions, UsersAssignedRoles
config = dotenv_values(".env")

permission_groups = [
    {
        "permission_group": "Authorization Management",
        "permissions": [
            'can_create_system_users',
            "can_view_roles",
            "can_create_roles",
            "can_update_roles",
            "can_delete_roles",
            "can_create_domain",
            "can_update_domain",
            "can_delete_domain",
            "can_create_ldap",
            "can_update_ldap",
            "can_delete_ldap",
            "can_create_institution",
            "can_update_institution",
            "can_delete_institution",
            "can_manage_role_permissions",
            "can_view_grouped_permissions",
            "can_view_examination_modules",
            "can_view_view_report_and_analytics_modules",
            "can_view_user_and_settings_modules"
        ],
    }
]

user_roles = [
    {
        'role_name': 'ADMINISTRATOR',
        'role_description': 'ADMINISTRATOR',
        'is_super_admin': True,
        'permissions': [
            'can_create_system_users',
            "can_view_roles",
            "can_create_roles",
            "can_update_roles",
            "can_delete_roles",
            "can_create_domain",
            "can_update_domain",
            "can_delete_domain",
            "can_create_ldap",
            "can_update_ldap",
            "can_delete_ldap",
            "can_create_institution",
            "can_update_institution",
            "can_delete_institution",
            "can_manage_role_permissions",
            "can_view_grouped_permissions",
            "can_view_examination_modules",
            "can_view_view_report_and_analytics_modules",
            "can_view_user_and_settings_modules",

            #subsidy management permissions
            "can_manage_subsidy",
            "can_create_subsidy",
            "can_update_subsidy",
            "can_delete_subsidy",
            "can_read_subsidy"
        ],
    } ,

    {
        'role_name': 'MINISTRY',
        'role_description': 'MINISTRY',
        'is_super_admin': True,
        'permissions': [

            #subsidy management permissions
            "can_manage_subsidy",
            "can_create_subsidy",
            "can_update_subsidy",
            "can_delete_subsidy",
            "can_read_subsidy"
        ],
    }
]

class SeedingSystemDefaultData:

    def __init__(cls) -> None:
        try:
            cls.seed_default_permissios() 
            cls.seed_default_roles()
            # cls.create_default_user("ADMINISTRATOR", config["DEFAULT_SUPER_PHONE"], config["DEFAULT_SUPER_EMAIL"], config["DEFAULT_SUPER_FIRSTNAME"], config["DEFAULT_SUPER_LASTNAME"], config["DEFAULT_SUPER_PASSWORD"])
            # cls.create_default_user("ADMINISTRATOR", "0693331836", "admin@latra.go.tz", "Jack", "Root", "ega12345")
            # cls.seed_locations()
        except Exception as e:
            print("SOMETHING WENT WRONG")

    @classmethod
    def seed_default_permissios(cls):
        for group1 in permission_groups:
            group, _ = UserPermissionsGroup.objects.update_or_create(
                group_name = group1['permission_group'],
                defaults={
                    "group_description": group1['permission_group']
                }
            )
            # UserPermissions.objects.filter(group=group).delete()
            for permission in group1['permissions']:
                UserPermissions.objects.update_or_create(
                    permission_name = permission,
                    permission_code = permission,
                    permission_group = group
                )

    @classmethod
    def seed_default_roles(cls):
        for role in user_roles:
            rol, _ = UserRoles.objects.update_or_create(
                role_name = role['role_name'],
                defaults={
                    "is_system_admin": role['is_super_admin'],
                    'role_type': 'SYSTEM_ADMIN'
                }
            )
            UserRolesPermissions.objects.filter(role=rol).delete()
            for permission in role['permissions']:
                use_p = UserPermissions.objects.filter(permission_code=permission).first()
                if use_p:
                    UserRolesPermissions.objects.update_or_create(
                        role = rol,
                        permission = use_p,
                    )

    @classmethod
    def create_default_user(cls, role, phone, email, firstname, lastname, password):
        staff_role = UserRoles.objects.filter(role_name=role).first()
        
        if staff_role:
            user, _ = User.objects.update_or_create(
                username=email,
                defaults={
                    "email": email,
                    "first_name": firstname,
                    "last_name": lastname,
                    "is_staff": True,
                    "is_superuser": True,
                    "is_active": True
                },
            )

            if not user:
                raise Exception("Failed To Create User Stopping")

            Profile.objects.update_or_create(
                user=user,
                defaults={
                    "is_verified": True,
                    "is_active": True,
                    "phone_number": phone
                },
            )

            user.set_password(password)
            user.save()

            UsersAssignedRoles.objects.update_or_create(
                role=staff_role,
                user=user,
            )




            