import inspect
from {{package_name}}_dto.shared_dto import ResponseObject
from {{package_name}}_utils.user_utils import UserUtils


def login_required(
    permissions: list[str] | None = None,
    user_types: list[str] | None = None,
    response_message: str | None = None,
):
    """
    A decorator function that checks if the user is logged in or has the required permission or role or profile type for certain action in either a query or a mutation.
    It can be used in the following ways:

    >>> @login_required() # or @login_required([])
    >>> def query(self, info, **kwargs):
    >>>    # This checks if the user is logged in
    >>>    ...

    >>> @login_required(['can_view_users'], roles=['SYSTEM ADMIN'])
    >>> def mutation(self, root, info, **kwargs):
    >>>    # This checks if the user is logged in and has the given permission(s) and is SYSTEM ADMIN
    >>>    ...

    >>> @login_required(['can_view_users'], roles=['SYSTEM ADMIN'], profile_types=['REGULATOR'])
    >>> def mutation(self, root, info, **kwargs):
    >>>    # This checks if the user is logged in and has the given permission(s) and is SYSTEM ADMIN and with REGULATOR profile type
    >>>    ...

    Parameters:
        permissions (list[str] (optional)): List of permissions required.
        profile_types (list[str] (optional)): List of profile types required.

    Returns:
        callable: The decorated function.
    """

    def decorator(func):
        def wrapper(*args, **kwargs):
            func_signature = inspect.signature(func)
            info = args[list(func_signature.parameters).index('info')]
            user_data = UserUtils.get_user(info)
            if not user_data:
                return info.return_type.graphene_type(response=ResponseObject.get_response(id='0', message=response_message))

            if permissions and not any(permission in user_data.get('permissions', []) for permission in permissions):
                return info.return_type.graphene_type(response=ResponseObject.get_response(id='0', message=response_message))

            if user_types and user_data.get('account_type') not in user_types:
                return info.return_type.graphene_type(response=ResponseObject.get_response(id='0', message=response_message))

            return func(*args, **kwargs)

        return wrapper

    return decorator

