import logging
import graphene
from django.db.models import Q
from {{package_name}}_accounts.models import Profile
from {{package_name}}_dto.enums import AccountsTypeChoices
from {{package_name}}_dto.shared_dto import ResponseObject
from {{package_name}}_utils.decorators.permission import login_required
from {{package_name}}_dto.accounts_dto import MyProfileResponseObject, ProfileResponseObject, ProfileFilteringInput
from {{package_name}}_dto_builders.accounts_builder import AccountBuilder
from {{package_name}}_dto_builders.response_builder import build_response
from {{package_name}}_utils.user_utils import UserUtils
logger = logging.getLogger(__name__)


class Query(graphene.ObjectType):
    get_all_profiles = graphene.Field(ProfileResponseObject, filtering=ProfileFilteringInput())    
    get_my_profile = graphene.Field(MyProfileResponseObject)

    # @login_required(permissions=['can_view_all_users'])
    def resolve_get_all_profiles(self, info, filtering=None, **kwargs):
        user_profile = UserUtils.__profile__(info.context)
        if not user_profile:
            return self(ResponseObject.get_response(id=0), data=None)
        
        filters = Q(is_active=True)
        filter_mapping = {
            "is_verified": lambda value: Q(is_verified=value),
            "unique_id": lambda value: Q(unique_id=value),
            "phone_number": lambda value: Q(applicant__phone_number=value)
        }

        if filtering:
            for field_name, q_func in filter_mapping.items():
                field_value = getattr(filtering, field_name, None)
                if field_value is not None:
                    filters &= q_func(field_value)

        
        return build_response(Profile, filters, AccountBuilder.get_profile_data, info)
    
    
    @login_required()
    def resolve_get_my_profile(self, info, filtering=None, **kwargs):
        filters = Q(is_active=True)
        
        user_profile = UserUtils.__profile__(info.context)
        if not user_profile:
            return self(ResponseObject.get_response(id=0), data=None)
        filters &= Q(unique_id=user_profile.unique_id)
        
        return build_response(Profile, filters, AccountBuilder.get_profile_data, info)
    


